.container{
    height: 100vh;
    width: 100vw;
}

.box-left{
    background-color:  #6379F4;
    padding:2rem 3rem;
}

.box{
    height: 100vh!important;
}

img.phone-pic-home{
    height: 50vh;
}

.banner-phone-wrapper, .banner-phone-auth{
    width: 26vw;
}