.trans-history-contactwallet{
    overflow: auto;
    border-radius: 1.5rem;
}

.search-input {
    background: transparent;
    border: 0;
    margin-left: 10px;
    outline: none;
}

.search-icon {
    margin-left: 5px;
}

.history-input {
    border-radius: 1.5rem;
    height: 4rem;
}

.recipient {
    cursor: pointer;
    border-radius: .5rem;
    height: 6rem;
}

.text-secondary {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.paginationBtns {
  margin-top: 1rem;
    height: 2rem;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .paginationBtns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #6379F4;
    color: #6379F4;
    cursor: pointer;
  }
  
  .paginationBtns a:hover {
    color: white;
    background-color: #6379F4;
  }
  
  .activePagination a {
    color: white;
    background-color: #6379F4;
  }
  
  .disabledPagination a {
    color: rgb(192, 186, 186);
    background-color: rgb(136, 132, 132);
  }