.trans-history{
    border-radius: 1.5rem;
}

.note-pic{
    width: 20px;
}

.user-pic, .user-pic-modal {
    margin-top: 4rem;
    width: 100px;
    height: 100px;
    border-radius: 25%;
}

/* .user-pic-modal {
    margin-top: 4rem;
    width: 10rem;
    height: 10rem;
    border-radius: 25%;
} */

.user-pic-nav {
    width: 52px;
    height: 52px;
    border-radius: 25%;
}

.edit-section{
    cursor: pointer;
}

.text-secondary-custom {
    justify-content: center;
}

.user-name, .text-secondary-custom{
    color:gray;
}

.card-profile {
    background-color: #dddddd;
    border-radius: 1rem;
    cursor: pointer;
}

