.con-home {
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
}

.nav-bar-home{
    height: 9%;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.menu-left-home, .wrapper-balance-home, .balance-box-home, .wrapper-content-lower-home, .content-menu-home, .trans-history-home{
    border-radius: 1.5rem;
}

.bg-primary-zwallet, .balance-box-home{
    background-color: #6379F4;
}

.footer-home{
    height: 8%;
    background-color: #6379F4;
}

.change-home{
    border-left: solid 3px transparent;
    transition: .5s;
}


.change-home2{
    border-left: solid 3px #6474af;
    cursor: pointer;
    color: #6379F4;
}

.change-home:hover{
    border-left: solid 3px #6474af;
    cursor: pointer;
    color: #6379F4;
}

a{
    text-decoration: none;
}

.btn-outline-home{
    color: white;
    border-color: white;
}

.link{
    cursor: pointer;
    color: #6379F4;
}

.box-right-wrapper {
    height: 90vh;
}

.react-code-input{
    /* width: 50%; */
    display: flex!important;
    justify-content: space-between;
    margin: 0 auto;
}

span#addon-wrapping, #wrapping2 {
    background: transparent;
    border: none;
    border-bottom: solid 1px #e8e6e6;
}

input.form-control {
    background: transparent;
    border: none;
    border-bottom: solid 1px #e8e6e6;

}

.btn-mobile{
    background: #EAEDFF;
    padding: 1rem
}

.pointer{
    cursor: pointer;
}

.btn-login{
    padding: 1rem 3rem;
    background-color: #6379F4;
    color: white;
}

@media screen and (min-width: 240px) and (max-width: 968px) {
    .balance-box-home{
        height: 10rem!important;
 }
 .wrapper-content-lower-home{
     height: 80%!important;
 }
 .trans-history{
     background-color: transparent!important;
     border-radius: 0;
     box-shadow: none!important;
 }

 .btn-mobile{
        z-index: 3;
        border-radius: 1rem;
}
 .recipient {
    background-color: #ffffff!important;
}

 /* .balance-right-home{
     align-items: center;
 } */
}